<section class="hero text-center">
    <h1>Find what's roasting</h1>
    <h3>We are dedicated to connecting coffee enthusiasts around the world</h3>
    <button id="shop-view-btn">See Posted Shops</button>
</section>