// VARIABLES
$main-color: rgb(106, 57, 25);
$accent-color: #c19d67;

// RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: $main-color;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

// GLOBAL CLASSES
.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

section {
    padding: 15px 5%;
    margin-top: 5%;
    & > *:not(:last-child) {
        margin-bottom: 15px;
    }
}

// CUSTOM CLASSES
header {
    padding: 6px 3%;
    background-color: $accent-color;
    h3, span {
        color: $main-color;
    }
    h3:hover {
        text-decoration: underline;
    }
    nav a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

.hero {
    button {
        padding: 5px 12px;
        border-radius: 3px;
        background-color: $accent-color;
        color: #fff;
        transition: background-color .3s;
        &:hover {
            background-color: darken($accent-color, 15%);
        }
    }
}

.shops {
    .shop {
        background-color: lighten($accent-color, 25%);
        padding: 15px 5%;
        border-radius: 3px;
    }
}